.topNav{
    color:white;
    height: 70px;
    width: 100%;
    background-color: rgb(61, 66, 78);
    margin:0;
    padding:0;
    position: sticky;
    top:0;
    z-index: 10;

    >ul.inline-ul{
        padding:0;
        padding-top: 20px;
        position: absolute;
        left:50% !important;
        transform: translate(-50%,0) !important;
        li{
            list-style-type: none;
            display: inline;
            margin-right: 20px;
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
        }
        .navActive{color:rgb(227,27,109); font-weight: 500;}

        li a{
            color: white;
            cursor: pointer;
        }
        li a:hover{
            text-decoration: none;
        }
        li.highlighted >a{
            font-weight: bold;
            color: #05a1a7;
            font-size: 1.2em;
        }
    }
    
    .dropdown-container{
        display: none;
        position: relative;
        .dropdown-icon{
            cursor: pointer;
            position: absolute;
            right: 24px;
            top: 15px;
            width: 26px;
            height: 26px;
        }
        .dropdown-content{
            background-color: rgb(61, 66, 78);
            width: 100%;
            height: 0;
            list-style-type: none;
            padding:0;
            padding-top: 60px;
            overflow: hidden;
            display: block;
            transition: height 0.25s ease-in-out;
            >li{
                text-align: center;
                cursor: pointer;
                padding:6px;
            }
            .navActive{color:rgb(227,27,109); font-weight: 500;}
            >li:hover{background-color: rgb(92, 97, 109);}
        }
        .dropdown-expand{
            height: 320px;
        }
    }

    li.highlighted a::after{
        content: 'New';
        color: yellow;
        font-size: 0.5em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        top: -12px;
        left: 2px;
    }

}

@media Screen and (max-width: 700px){
    .topNav{
        height: 66px;
        >ul.inline-ul{display: none;}
        .dropdown-container{
            display: block;
        }
    }
}