.card2{
    background-color: transparent;
    margin:auto;
    padding:0;
    border:0;
    position: relative;
    width: 350px;
    img{
        width: 350px;
        height:auto;
        display: block;
        margin:auto;
        background-color: white;
        vertical-align: middle;  
    }
    >.imageDesc{
        width:350px;
        height: 100%;
        opacity: 0.01;
        overflow: hidden;
        position: absolute;
        top:0;
        background-color: rgba(250, 250, 250, 1);
        color:grey;
        text-align: center;
        transition: all 0.5s;
        padding-top: 50px;
        cursor: pointer;
        .tectStack{color:maroon}
        .learnMoreButton{
            cursor: pointer;
            position: absolute;
            bottom: 50px;
            left:50%;
            transform: translate(-50%,0);
            width:150px;
            padding-top: 10px;
            height: 50px;
            border: 1px solid rgb(227,27,109);
            transition: all 0.5s;
        }
        .learnMoreButton:hover{
            background-color: rgb(227,27,109);
            color: white;
        }
    }
    >.imageDesc:hover{
        opacity: 1;
    }
    
    margin-top: 10px;
}

