.card2{
    background-color: transparent;
    margin:0;
    padding:0;
    border:0;
    img{
        width: 350px;
        height:auto;
        margin:auto;
        display: block;
        background-color: white;
        vertical-align: middle;  
        
    }
    margin-top: 10px;
}