.blog-card{
    margin-top: 24px;
    width: 100%;
    max-width: 500px;
    border: 1px dashed lightgrey;
    padding-bottom: 18px;

    .pub-date{margin-top: 12px; font-style: italic;}
    .categories{
        margin-top: 12px;
        margin-bottom: 12px;
        >span{margin-right: 12px; padding: 8px; margin-bottom: 6px;}
    }

    img{width: 100%;}
    .gh-code{padding: 0 24px;margin-bottom: 12px; strong{display: inline-block;}}
}